.chat {
    flex: 70%;
    display: flex;
    flex-direction: column;
}

.aside-enter-done+.chat {
    margin-left: 15%;
    transition: margin 300ms;
}

.aside-exit+.chat {
    margin-left: 0;
    transition: margin 300ms;
}

.chat__field {
    flex: auto;
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding: 8px;
    overflow-y: auto;
}

.field__massege {
    display: flex;
}

.field__massege.side_right {
    justify-content: flex-end;
}

.field__text {
    background: #61892F;
    max-width: 70%;
    padding: 8px 14px;
    font-size: 20px;
    border-radius: 15px;
}