.chats {
    flex: 70%;
}

.chats__list {
    margin-top: 30px;
}

.chats__list button {
    display: block;
    background: transparent;
    border: none;
    color: inherit;
    width: 100%;
}

.answer__field {
    color: yellow;
}