.input-block {
    display: flex;
    align-items: center;
}

.input-block__input {
    font-size: 20px;
    background: #474B4F;
    border-radius: 15px;
    padding: 10px 14px;
    margin: 8px 7px 8px 10px;
    width: 100%;
    color: #fff;
    height: auto;
}

.input-block__btn {
    font-size: 20px;
    font-weight: 700;
    background: #61892F;
    color: #fff;
    border-radius: 15px;
    padding: 10px 14px;
    min-height: 70px;
    min-width: 70px;
}

.input-button-enter-active,
.input-button-exit-active {
    transform: scale(0.9);
    transition: transform 200ms;
}

.input-button-enter-done,
.input-button-exit-done {
    transform: scale(1);
    transition: transform 200ms;
}


@media (max-width: 767px) {
    .input-block-btn__text {
        display: none;
    }

    .input-block-btn__arrow {
        display: block;
    }

    .input-block-btn__arrow::after {
        display: block;
        content: '';
        width: 25px;
        background: #fff;
        height: 5px;
        border-radius: 3px;
        transform: rotate(-45deg) translate(3px, 9px);
    }

    .input-block-btn__arrow::before {
        display: block;
        content: '';
        width: 25px;
        height: 5px;
        border-radius: 3px;
        background: #fff;
        transform: rotate(45deg) translate(3px, -11px);
    }
}